# Anonymous Function
snippet f
	func(${1}) {
		${2}
	}
snippet bef
	BeforeEach(func(){
		${1}
	})
snippet desc
	Describe("${1}", func(){
		${2}
	})
snippet con
	Context("${1}", func(){
		${2}
	})
snippet it
	It("${1}", func(){
		${2}
	})
