# snippet for wintersmith blog template header, based on a snippet from https://github.com/markgemmill/snipmate-snippets
snippet xsite
	\`\`\`metadata
	title:    ${1:article_title}
	author:   elliotf
	date:     `system("date +%Y-%m-%d")`
	template: article.jade
	\`\`\`
	
	# ${3:article_header}


